:root {
  --jc-dropdown-size: 25px;

  --jc-comment-profile-pic-size: 32px;
  --jc-reply-profile-pic-size: 26px;

  --jc-panel-background-color: var(--jp-layout-color0);

  --jc-comment-color: var(--jp-ui-font-color0);
  --jc-comment-background-color: var(--jp-layout-color1);
  --jc-comment-border-color: #c5c5c5;
  --jc-comment-border: 1px solid var(--jc-comment-border-color);

  --jc-timestamp-color: var(--jp-ui-font-color2);
  --jc-timestamp-font-size: smaller;
  --jc-timestamp-font-weight: regular;

  --jc-nametag-font-size: normal;
  --jc-nametag-font-weight: 500;

  --var-jc-linesep: 2px;
}

.jc-CommentPanel {
  background-color: var(--jc-panel-background-color);
  color: var(--jc-comment-color);
  display: flex;
  flex-direction: column;
}

.jc-CommentFileWidget {
  overflow: auto;
  flex-grow: 1;
  padding-top: 12px;
}

.jc-Comment {
  background-color: var(--jc-comment-background-color);
  padding: 10px 10px 7px 10px;
  border: var(--jc-comment-border);
}

.jc-Nametag {
  font-size: var(--jc-nametag-font-size);
  font-weight: var(--jc-nametag-font-weight);
  margin-left: 10px;
}

.jc-Time {
  font-size: var(--jc-timestamp-font-size);
  font-weight: var(--jc-timestamp-font-weight);
  color: var(--jc-timestamp-color);
  vertical-align: top;
  margin-left: 10px;
}

.jc-Body {
  display: block;
  outline: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  white-space: pre-wrap;
}

.jc-Body:focus {
  outline: 1px solid var(--jp-ui-font-color3);
}

.jc-Reply {
  border-top: none;
  white-space: pre-wrap;
}

.jc-Replies {
  border: 1px solid var(--jc-comment-border);
}

.jc-Replies-breaker{
  /* height: 60%; */
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  margin: 10px 10px -10px 10px;
  border-bottom: 1px solid var(--jc-comment-color);
}

.jc-Replies-breaker-right > hr{
  border: 0.5px solid var(--jp-ui-font-color3);
  position: relative;
  bottom: 22px;
  width: 7em;
  z-index: 1;
}
.jc-Replies-breaker-number {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid var(--jp-ui-font-color3);
  background-color: var(--jc-panel-background-color);
  text-align: center;
  position: relative;
  left: 70%;
  z-index: 2;
}


.jc-CommentInput {
  width: 100%;
  min-height: 44px;
  padding: 5px 4px;
}

.jc-Indicator {
  position: absolute;
  height: fit-content;
  width: fit-content;
  float: right;
  /*margin-top: -20px;*/
  text-align: center;
  margin: auto auto;
  z-index: 5;
}

.jc-Indicator:hover {
  background-color: orange;
  width: 12px;
  width: 12px;
}
.jc-CommentProfilePic {
  display: block;
  border-radius: 50%;
  top: 0;
  left: 0;
  height: var(--jc-comment-profile-pic-size);
  width: var(--jc-comment-profile-pic-size);
}
.jc-CommentProfilePicContainer {
  float: left;
  width: var(--jc-comment-profile-pic-size);
}

.jc-ReplyProfilePic {
  display: block;
  border-radius: 50%;
  top: 0;
  left: 0;
  height: var(--jc-reply-profile-pic-size);
  width: var(--jc-reply-profile-pic-size);
}
.jc-ReplyProfilePicContainer {
  float: left;
  width: var(--jc-reply-profile-pic-size);
}

.jc-CommentWidget {
  margin: 0 8px 24px 8px;
  box-shadow: var(--jp-elevation-z1);
}
.jc-CommentWidget:focus-within .jc-Comment {
  border-color: var(--jp-brand-color1);
}
.jc-CommentWidget:focus-within .jc-ReplyInputArea {
  border-color: var(--jp-brand-color1);
}

.jc-EditInputArea {
  margin-top: var(--var-jc-linesep);
  padding: 3px;
}

.jc-ReplyInputArea:empty:before {
  content: attr(data-placeholder);
  color: var(--jp-ui-font-color3);
}
.jc-ReplyInputArea {
  border: var(--jc-comment-border);
  border-top: none;
  padding: 10px;
  /* min-height: 30px; */
  word-break: break-word;
}

.jc-Highlight {
  background-color: rgba(255, 165, 0, 0.25);
}

.jc-HighlightFocus {
  background-color: rgba(255, 165, 0, 0.65);
}

.jc-Ellipses {
  float: right;
  width: var(--jc-dropdown-size);
  height: var(--jc-dropdown-size);
  display: none;
}
.jc-Comment:hover .jc-Ellipses {
  display: inline-block;
}
.jc-Ellipses > svg {
  width: var(--jc-dropdown-size);
}

.jc-Preview {
  display: grid;
  grid-template-columns: 6px calc(100% - 6px);
  padding-left: 10px;
  margin-top: var(--var-jc-linesep);
}
.jc-PreviewBar {
  width: 2px;
  height: 100%;
  background-color: orange;
}
.jc-PreviewText {
  color: var(--jc-timestamp-color);
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
  margin-left: 10px;
}

.jc-panelHeader {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 10px 10px 10px; */
  padding: 10px;
  box-shadow: var(--jp-elevation-z1);
  z-index: 2;
}
.jc-panelHeader-identity-container {
  color: var(--jp-ui-font-color2);
  font-size: var(--jp-ui-font-size0);
  display: flex;
  justify-content: start;
}
.jc-panelHeader-editIcon {
  transform: scale(0.72);
  float: right;
  display: block;
  opacity: 0;
}

.jc-panelHeader-identity-container:hover .jc-panelHeader-editIcon {
  opacity: 1;
}

.jc-panelHeader-filename {
  font-size: var(--jp-ui-font-size1);
  color: var(--jp-ui-font-color0);
  margin-top: -3px;
}

.jc-panelHeader-left {
  color: black;
}
.jc-panelHeader-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: auto;
  align-items: start;
  margin-top: 5px;
  gap: 1em;
}

.jc-panelHeader-dropdown {
  color: var(--jc-timestamp-color);
  font-size: 14px;
  display: flex;
  align-items: center;
  margin-right: -5px;
}

.jc-panelHeader-EditInputArea-false {
  color: var(--jp-ui-font-color3);
  word-break: break-word;
}
.jc-panelHeader-EditInputArea-true {
  border: var(--jc-comment-border);
  color: var(--jp-ui-font-color3);
  word-break: break-word;
}

.jc-IconShadow {
  filter: drop-shadow(0px 2px 1px var(--jp-shadow-umbra-color));
  cursor: pointer;
}
