.jc-CommentPanel {
  background-color: var(--jp-layout-color0);
  overflow: auto;
}

.jc-Comment {
  background-color: var(--jp-layout-color1);
  padding: 15px;
  border: 1px solid #c5c5c5;
  color: var(--jp-ui-font-color0);
}

.jc-Nametag {
  font-weight: bold;
  margin-left: 10px;
}

.jc-Time {
  font-size: x-small;
  vertical-align: top;
  margin-left: 10px;
}

.jc-Body {
  display: inline-block;
}

.jc-DeleteButton {
  bottom: 0px;
  right: 0px;
}

.jc-Reply {
  border-top: none;
}

.jc-CommentInput {
  width: 100%;
  min-height: 44px;
  padding: 5px 4px;
}

.jc-Indicator {
  width: 10px;
  height: 10px;
  background-color: orangered;
  float: right;
  /*margin-top: -20px;*/
  text-align: center;
  margin: auto auto;
  border-radius: 5px;
  padding: 5px;
  z-index: 5;
}

.jc-Indicator:hover {
  background-color: orange;
  width: 12px;
  width: 12px;
}

.jc-ProfilePic {
  display: inline-block;
  border-radius: 50%;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
}

.jc-ProfilePicContainer {
  float: left;
  width: 30px;
}

.jc-CommentWithReplies {
  margin: 0 8px 12px 8px;
}

.jc-InputArea {
  border: 1px solid #c5c5c5;
  border-top: none;
  padding: 5px 4px;
  min-height: 44px;
}

.jc-Highlight {
  background-color: orange;
  opacity: 50%;
}

.jc-HighlightWrapper {
  position: relative;
  z-index: 1;
}