.jc-CommentPanel {
  background-color: var(--jp-layout-color0);
  color: var(--jp-ui-font-color0);
  overflow: auto;
}

.jc-Comment {
  background-color: var(--jp-layout-color1);
  padding: 15px;
  border: 1px solid #c5c5c5;
}

.jc-Comment:hover .jc-Ellipses {
  display: inline-block;
}

.jc-Nametag {
  font-weight: bold;
  margin-left: 10px;
}

.jc-Time {
  font-size: smaller;
  vertical-align: top;
  margin-left: 10px;
  color: var(--jp-ui-font-color2);
}

.jc-Body {
  display: inline-block;
  outline: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
}

.jc-Body:focus {
  outline: 1px solid var(--jp-ui-font-color3);
}

.jc-DeleteButton {
  bottom: 0px;
  right: 0px;
}

.jc-EditButton {
  bottom: 0px;
  right: 0px;
}

.jc-Reply {
  border-top: none;
}

.jc-CommentInput {
  width: 100%;
  min-height: 44px;
  padding: 5px 4px;
}

.jc-Indicator {
  width: 10px;
  height: 10px;
  background-color: orangered;
  float: right;
  /*margin-top: -20px;*/
  text-align: center;
  margin: auto auto;
  border-radius: 5px;
  padding: 5px;
  z-index: 5;
}

.jc-Indicator:hover {
  background-color: orange;
  width: 12px;
  width: 12px;
}

.jc-ProfilePic {
  display: inline-block;
  border-radius: 50%;
  top: 0;
  left: 0;
  height: 35px;
  width: 35px;
}

.jc-ProfilePicContainer {
  float: left;
  width: 35px;
}

.jc-CommentWidget {
  margin: 0 8px 12px 8px;
}

.jc-CommentWidget:focus-within .jc-Comment {
  border-color: var(--jp-brand-color1);
}

.jc-CommentWidget:focus-within .jc-ReplyInputArea {
  border-color: var(--jp-brand-color1);
}

.jc-InputArea {
  border: 1px solid #c5c5c5;
  border-top: none;
  padding: 15px 14px 6px 18px;
  min-height: 30px;
}

.jc-EditInputArea {
  margin-top: 3px;
  padding: 6px 3px 3px 3px;
  min-height: 24px;
}

.jc-ReplyInputArea:empty:before {
  content: attr(data-placeholder);
  color: var(--jp-ui-font-color3);
}
.jc-ReplyInputArea {
  border: 1px solid #c5c5c5;
  border-top: none;
  padding: 15px 14px 6px 18px;
  min-height: 30px;
  word-break: break-word;
}

.jc-Highlight {
  background-color: orange;
  opacity: 50%;
}

.jc-HighlightWrapper {
  position: relative;
  z-index: 1;
}

.jc-Ellipses {
  float: right;
  width: 25px;
  height: 25px;
  display: none;
}

.jc-Ellipses > svg {
  width: 25px;
}
